/helm/secret/ghcr-secret.yaml
/infra/k8s/hcp-k8s-operator/hcp-k8s-secret.yaml
/.idea/
/helm/secret/hcp-k8s-secret.yaml
/init/
/secret/
/helm/output.yaml
/helm/sub-charts/product-svc/test.yaml
*test.yaml
/convert.py
